/* ========== Main */
/* ========== Hero */
/* ========== About */
/* ========== Practice */
/* ========== Lawyers */
/* ========== Publications */
/* ========== FAQ */
/* ========== Contact */



/* ========== Main */

body {
    /* Playfair Display - font-weight avaiable: 400, 700 */
    font-family: 'Playfair Display', serif;
    /* font-family: 'Open Sans', sans-serif; */
    color: #111111;
}

h3 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 35px;
}

/* Lines */

.lines {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.lines > .container {
    position: relative;
    height: 100%;
    width: 100%;
}

.lines .row {
    height: 100vh;
}

.line {
    position: absolute;
    border-right: 1px solid #000000;
    height: 100vh;
    opacity: 0.05;
}

.line:nth-child(1) {
    border-left: 1px solid #000000;
}

@media (max-width: 768px) {
    .line {
        display: none;
    }
}

.navbar {
    padding: 20px 0;
    position: fixed;
    z-index: 9999;
    background-color: #ffffff;
}

.navbar-brand {
    color: #111111;
    font-family: "Playfair Display";
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link {
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 10px !important;
    margin: 0 10px;
}

.navbar-brand:hover {
    color: #e8bf5d;
    transition: all 0.2s;
}

.navbar-brand span {
    color: #e8bf5d;
}


.underline {
    position: relative !important;
    display: block;
    /* letter-spacing: 0.56px; */
}

.underline::before {
    display: block;
    content: '';
    position: absolute !important;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #e8bf5d;
    transition: all 0.2s ease-in-out;
}

.underline:hover {
    color: #111111;
}

.underline:hover::before {
    width: 100%;
    opacity: 1;
}

.underline:hover .active::after {
    width: 0;
    opacity: 1;
}

.active::after {
    width: 100%;
    display: block;
    content: '';
    position: absolute !important;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #e8bf5d;
    transition: all 0.2s ease-in-out;
}
/* ========== Hero */

.hero-section {
    position: relative;
    margin-bottom: 0;
    margin-top: 87px;
    background: black;
}

.hero-section__header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('../images/hero.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh !important;
}

.hero-section__heading {
    position: relative;
    padding-left: 18px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section__heading > p {
    margin-bottom: 0;
}

.hero-section__heading::before {
    display: block;
    content: '';
    position: absolute;
    background-color: #e8bf5d;
    height: 85px;
    width: 2px;
    top: 50%;
    margin-left: -18px;
    transform: translateY(-50%);
}

.title {
    font-size: 65px;
    font-weight: 400;
    font-family: "Playfair Display";
    letter-spacing: 2.6px;
    color: #ffffff;
    line-height: 80%;
    margin-bottom: 8px;
}

.subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 31px;
    letter-spacing: 1.24px;
    color: #ffffff;
}

.hero-cta {
    width: 181px;
    height: 50px;
    border-radius: 25px;
    background-color: #e8bf5d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-cta:hover {
    background: #eecf86;
}

/* ========== Section */

.page-section {
    padding-top: 80px;
    padding-bottom: 100px;
    margin-top: 0;
    margin-bottom: 0;
    counter-increment: sectionNr;
}

.page-section:nth-child(odd) {
    background: #111111;
    color: #ffffff;
}

/* ========== About */

.section-header {
    margin-bottom: 70px;
}

.section-header__box {
    margin-left: 15px;
    border-left: 2px solid #e8bf5d;
    padding-left: 20px;
    position: relative;
    z-index: 500;
}

.section-header__box::before {
    content: '0' counter(sectionNr);
    display: block;
    position: absolute;
    color: #f3f3f3;
    font-family: "Open Sans", sans-serif;
    font-size: 185px;
    font-weight: 400;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.page-section:nth-child(odd) .section-header__box::before {
    color: #ffffff;
    opacity: 0.12;
}

.page-section:nth-child(odd) .section-header__box::before {
    color: #ffffff;
    opacity: 0.12;
}

.section-header__heading, .section-header__text {
    position: relative;
}

.section-header__heading {
    font-size: 31px;
}

.section-header__text {
    max-width: 770px;
    margin: 0;
    font-size: 21px;
}

.section-header__text.dark {
    color: #b9b9b9;
}

.history-section__date, .history-section__text {
    font-family: 'Open Sans', sans-serif;
}

.history-section__date {
    font-size: 21px;
    font-weight: 700;
    width: 100px;
    flex-shrink: 0;
}

.expertise-section p {
    color: #666666;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.56px;
}

/* ========== Practice */



.practice__icon {
    color: #e8bf5d;
    font-size: 35px;
    margin-top: -10px;
}

.practice__point {
    margin-left: 30px;
}

.practice__point p {
    width: 357px;
    font-size: 14px;
    font-family: "Open Sans";
    letter-spacing: 0.50px;
    line-height: 25px;
}

.practice__title {
    font-family: "Playfair Display";
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
}

/* ========== Lawyers */

.lawyer-img {
    margin-bottom: 30px;
    width: 255px;
    height: auto;
    transition: 0.2s;
}

.lawyer-img:hover {
    opacity: 0.75;
}

.name {
    color: #111111;
    font-family: "Playfair Display";
    font-size: 21px;
    letter-spacing: 0.84px;
    line-height: 31px;
}

.name > span {
    display: block;
    color: #666666;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
}

.name.dark, .name.dark > span {
    color: #ffffff;
}

/* ========== Clients */

.client-img {
    margin-bottom: 20px;
    height: auto;
    box-shadow: 20px 20px 0 #e8bf5d;
    position: relative;
}

.client-container {
    position: relative;
}

@media (max-width: 768px) {
    .client-img {
        border: 1px solid #644f1d;
        box-shadow: none;
        padding: 25px;
    }
}

.quote__text {
    position: relative;
}

.quote__text::before {
    /* Style for "“" */
    position: absolute;
    display: block;
    content: '“';
    top: -15px;
    left: -50px;
    opacity: 0.25;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 96px;
    font-weight: 400;
    line-height: 100%;
    z-index: 100;
}

@media (max-width: 990px) {
    .quote__text::before {
        display: none;
    }
}

.quote__text {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.56px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators > li {
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    background: transparent;
    border-radius: 50%;
}

.carousel-indicators > li.active {
    background: #ffffff;
}


/* ========== Publications */

.publications__img {
    margin-bottom: 30px;
    transition: 0.2s;
}

.publications__link:hover > .publications__img {
    opacity: 0.75;
}

.publications__title {
    font-family: "Playfair Display";
    font-size: 21px;
    letter-spacing: 0.84px;
    margin-bottom: 5px;
}

.publications__author {
    font-family: "Open Sans";
    font-size: 16px;
}

.publications__author > span {
    margin-right: 5px;
}

.publications__author > span, .publications__date {
    color: #999999;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.64px;
    font-weight: 400;
    margin-bottom: 40px;
}

.publications__text {
    color: #666666;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 40px;
}

.publications__comments {
    border-bottom: 3px solid #e8bf5d;
    padding-bottom: 20px;
}

.publications__comments p {
    color: #111111;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.64px;
    margin-bottom: 0;
}

.publications__comments i {
    font-size: 17px;
    margin-right: 5px;
} 

/* ========================= MEDIA */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .section-header__heading {
        font-size: 24px;
    }

    .section-header__text {
        font-size: 18px;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
 }